<div style="padding: 0 10px 10px; border: 1px solid black; height: fit-content;">
  <h1>hexagonal game of life</h1>
  <i>woooh</i><br>
  <p>This exists to help visualize a cs assignment a friend of mine got.</p>
  <p>The rules are simple:</p>
  <ol style="margin-top: -10px;">

    <li><b>alive</b> cells survive if they have <b>three</b> or <b>five</b> alive neighbours</li>
    <li><b>dead</b> cells get revived if they have <b>two</b> alive neighbours</li>
    <li>everything else dies or stays dead</li>
  </ol>
  <h3>basic controls</h3>
  <p>click any of the cells to toggle their alive state. use the buttons below to progress through the game</p>
  <button (click)="game.tick()">tick</button>
  <button (click)="game.run()" [disabled]="game.shouldRun">run</button>
  <button (click)="game.stop()" [disabled]="!game.shouldRun">stop</button>
  UPS: <input [(ngModel)]="game.ups" max="20" min="1" type="range"> {{ game.ups }}
  <button (click)="game.runUntilLoop()" [disabled]="game.shouldRun">find loop</button>
  <h3>game setup</h3>
  <p>use the slider to set a reasonable board size, or go crazy and enter your own. don't overdo it though, the
    allocation code is really slow.</p>
  <div>
    <input [(ngModel)]="game.size" max="20" min="1" type="range">
    <input [(ngModel)]="game.size" style="width: 50px;" type="number">
    took {{game.lastAllocationTime.toFixed(1)}}ms
  </div>
  <div style="margin-top: 10px; margin-bottom: 10px;">
    save or load a list of alive cells:
    <button (click)="loadAlivePos()">import</button>
    <button (click)="saveAlivePos()">export</button>
  </div>
  <textarea #alivePos cols="50" rows="5" wrap="hard">2,3 0,2 3,2 -2,1 -1,0 2,0 0,-1 -3,-2 1,-2 -2,-3</textarea>

</div>
